[Desktop Entry]
Name=ButterFlight Blackbox Explorer
Comment=Crossplatform blackbox analitics tool for ButterFlight flight control system
Exec=/opt/butterflight/butterflight-blackbox-explorer/butterflight-blackbox-explorer
Icon=/opt/butterflight/butterflight-blackbox-explorer/icon/bf_icon_128.png
Terminal=false
Type=Application
